// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.words-large {
  font-size: 20pt;
  display: inline;
}

.words-medium {
  font-size: 16pt;
  display: inline;
}

.words-small {
  font-size: 12pt;
  display: inline;
}
